.transition-1{
    position: fixed;
    top: -150%;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 999999999999999;
    background-color: var(--tamnoPlava);
    pointer-events: none;
    transition: all .3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transition-1 img{
    width: 60px;
    aspect-ratio: 1 / 1;
    animation: rotateImg 2s linear infinite;
    transform: rotate(0deg);
    filter: blur(2px);
    background: var(--highlightGrad);
    border-radius: 50%;
}

@keyframes rotateImg {
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}

.transition-1.is-active{
    top: 0%;
    pointer-events: all;
}