.content{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero{
    font-size: 2.5rem;
    margin-top: 110px;
    margin-bottom: 10px;
}

.megaHero p{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 30px;
}

form{
    width: 100%;
    background-color: var(--primary);
    padding: 30px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}

form label{
    align-self: flex-start;
    font-size: 1.5rem;
    font-family: 'Pattaya', cursive;
    margin-bottom: -10px;
    font-weight: 100;
    margin-left: 20px;
}

form input, form textarea{
    width: 100%;
    resize: vertical;
    max-height: 300px;
    background-color: var(--secondary);
    background-image: url('../images/noise-light.webp');
    border: 1px solid var(--white10);
    color: white;
    font-size: 1rem;
    border-radius: 30px;
    padding: 15px 20px;
    outline: 2px solid transparent;
}

form textarea{
    min-height: 150px;
    height: 200px;
}

form input:focus, form textarea:focus{
    outline: 2px solid var(--accent1);
}

form button{
    margin-top: 5px;
    font-size: 1.25rem;
    padding: 15px 40px !important;
}

@media screen and (max-width: 500px) {
    .megaHero h1{
        font-size: 1.75rem;
        margin-top: 50px;
    }
    .megaHero p{
        font-size: 1rem;
        margin-bottom: 0px;
    }
    form{
        border-radius: 24px;
        padding: 20px;
        padding-top: 30px;
    }
    form label{
        font-size: 1.25rem;
        margin-left: 15px;
        margin-bottom: -20px;
        margin-top: 5px;
    }
}