.content{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero{
    margin-block: 110px;
}

.skillCard{
    background-color: var(--primary);
    padding: 20px;
    border-radius: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.skillCard h2{
    width: fit-content;
    font-size: 2rem;
    margin-top: 5px;
}

.skillCard div{
    display: flex;
    justify-content: stretch;
    gap: 10px;
}

.skillCard div p{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color: var(--secondary);
    padding: 30px;
    gap: 70px;
    border-radius: 20px;
}

.skillCard div p img{
    width: 30px;
    transition: all 0.3s ease;
}

.skillCard div p:hover img{
    transform: scale(1.2);
}

.skillCard div p span{
    width: 100%;
    text-align: right;
}

.moreProjects{
    margin-block: 50px;
}

.first .loop-doodle, .third .loop-doodle{
    right: -50px;
    top: -70px;
    transform: rotate(-20deg);
}